/* public/css/master.css */

body {
    font-family: 'Open Sans', sans-serif;
  }
  .breadcrumb-item {
    font-size: 0.8em !important;
  }
  .ellipsis{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 1 */
  }
  
  .board-table {
    table-layout: fixed;
  }
  .board-table .date {
    width: 100px;
  }
  
  .post-body{
    white-space: pre-line; /* 2 */
  }
  .post-info{
    font-size: 0.8em;
  }

  .board-table {
    table-layout: fixed;
  }
  .board-table .author,
  .board-table .date {
    width: 100px;
  }
  .post-index-tool {
    max-width: 450px;
  }
  .post-index-tool input[type='text']{
    max-width: 130px;
  }
  .post-body,
  .comment-text {
    white-space: pre-line;
  }
 .comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}