<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3" style="text-align: center;">
      <img src="help.png"  alt="이미지 에러"/>
    </div>
  </body>
</html>