<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <img src="https://postfiles.pstatic.net/MjAyMDA2MTZfMTE0/MDAxNTkyMjgyNjY0OTUz.EQasSPUONsmwBirZtdu_GDuXE4Ee2oQKMLmk3yBAsscg.jWMm268RoSqv94k_7KsdXnQQNymgK3No4QEQyYc9vzMg.PNG.dmltjr2cjswo/help.png?type=w773" alt="이미지 에러">
    </div>
  </body>
</html>