<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">

      <div class="jumbotron" style="background-color: #e3f2fd;">
        <img src="main.png" style="width: 100%;"alt="이미지 에러"/>
      </div>

    </div>
  </body>
</html>