<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <% if(admin==1){ %>
      <a href="/" class="nav-link">가입승인</a>
      <%}
    %>
    <div class="container mb-3">

      <div class="jumbotron" style="background-color: #e3f2fd;">
        <h1>성결대학교 설문조사 사이트</h1>
        <p>설문조사를 할 수 있는곳입니다!!!!</p>
      </div>

    </div>
  </body>
</html>