<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <% if(admin==1){ %>
      <a href="/" class="nav-link">가입승인</a>
      <%}
    %>
    <div class="container mb-3">

      <div class="jumbotron" style="background-color: #e3f2fd;">
        <h1>메인화면</h1>
      </div>

    </div>
  </body>
</html>