<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>성결대학교 설문조사 사이트</h1>
        <P>설문조사를 할 수 있는 곳입니다!</p>
      </div>

    </div>
  </body>
</html>